<%- include('../partials/header') %>
<main>
  <h1>Forbidden</h1>
  <p><%= typeof error !== 'undefined' && error ? error : 'You do not have permission to view this page.' %></p>
  <p><a href="/">Home</a> · <a href="/account">My account</a></p>
</main>
<%- include('../partials/footer') %>
